.equation {
  font-size:2em;
  line-height:2;
  padding:.5em;
}

.expression {
  display:inline-block;
  border:solid 1px green;
}
.term {
  display:inline-block;
  border:solid 1px blue;
}
.operation {
  margin:0 0.2em;
}
